.Container {
  margin: 30px 50px;
}

.ForgotPassword-Container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
}

.ForgotPassword-Label {
  display: flex;
  flex-direction: column;
}

.ForgotPassword-Label label {
  margin: 5px 0;
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.ForgotPassword-Input input {
  margin: 5px 0;
  width: 25vw;
  height: 32px;
  background-color: #eef3f8;
  border: none;
  border-radius: 5px;
}

.ForgotPassword-Input-Button {
  display: flex;
  flex-direction: column;
}

.ForgotPassword-Input {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
